.callout {
  padding: var(--spacing-24) var(--spacing-56);
  text-align: center;
  border-radius: 40px;
  margin: var(--spacing-32) 0;
}

.callout p {
  margin: var(--spacing-8)
}

.text-cards-container .heading h1 {
  color: var(--on-surface-blue);
}

.text-cards-container .heading p {
  color: var(--on-surface-default);
}

.text-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-section-unrelated);
  background: url("vectors/grid-pattern.svg") repeat;
  padding-bottom: 0px;
}

.text-cards-section {
  display: grid;
  gap: var(--gap-subsection-unrelated);
}

.support-us-container {
  display: flex;
  flex-direction: column;
  padding-left: var(--padding-section);
  padding-right: var(--padding-section);
  padding-bottom: 0px !important;
  align-items: center;
}

.support-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-section-unrelated);
  border-radius: 24px 24px 0 0;
  padding: var(--padding-section);
  max-width: 1200px;
}

.support-us-heading {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.support-us-title-container {
  width: 100%;
}

.support-us-heading .body1 {
  width: 100%;
}

.support-us-details{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  gap: var(--gap-subsection-unrelated)
}

.support-us-details .col{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-subsection-related)
}

@media (min-width: 1201px) {
  .text-cards-section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(160px, auto);
  }

  /* Cards "hautes" / structurantes */
  .div-3 {
    grid-column: 3;
    grid-row: span 2;
  }

  .div-5 {
    grid-column: 2;
    grid-row: span 2;
  }

  .div-6 {
    grid-column: 1;
    grid-row: span 2;
  }
}

@media (max-width: 1200px) and (min-width: 801px) {
  .text-cards-section {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Reset des spans desktop */
  .div-3,
  .div-5,
  .div-6 {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (max-width: 800px) {
  .text-cards-section {
    grid-template-columns: 1fr;
  }

  .support-us-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-subsection-unrelated);
}

  .support-us-details{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-subsection-unrelated)
}
}