.faq-container {
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
}

.faq-container h1 {
  margin-bottom: var(--spacing-40);
  text-align: center;
}

.faq-item {
  margin-bottom: var(--spacing-16);
  background-color: var(--color-darken-01);
  border-radius: 16px;
}

.faq-item:hover {
  background-color: var(--action-transparent-bg-hover);
  cursor: pointer;
}

.faq-item:active {
  background-color: var(--action-transparent-bg-active);
  cursor: pointer;
}

.faq-question {
  padding-top: var(--spacing-24);
  padding-bottom: var(--spacing-24);
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
}

.faq-answer {
  color: var(--action-transparent-text);
  padding-bottom: var(--spacing-24);
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
}

summary {
  /* Pin the custom marker to the container */
  position: relative;
  /* Register summary as an anchor element */
  anchor-name: --summary;

  &::marker {
    content: '';
  }
}
