/* Base du bouton */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-weight: 600;
  text-align: center;
  gap: 1em;
  transition: background 0.15s ease, color 0.15s ease, border-color 0.15s ease;
  border: none;
  background-color: var(--action-bg);
  color: var(--action-text);
  width: fit-content;
  text-decoration: none;
  padding: 16px 32px;
}

.btn:not(.btn--disabled) {
  cursor: pointer;
}

.emphasis {
  padding: 24px 48px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

/* === Full width button === */

.btn.fullwidth {
  width: 100%;
}

.btn.icon-only {
  padding: 12px;
}

.btn:not(.btn--disabled):hover {
  background-color: var(--action-bg-hover);
}

.btn:not(.btn--disabled):active {
  background-color: var(--action-bg-active);
}

.btn-icon {
  display: inline-flex;
}

.btn-text {
  text-align: center;
}

/* Disabled — bouton ET lien */
.btn--disabled,
button:disabled,
button[disabled] {
  background-color: var(--action-bg-disabled);
  color: var(--action-text-disabled);
  border-color: var(--action-color-border-disabled);
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}

/* === Thèmes colorés dynamiques === */

/* Vert */
.btn-green {
  background-color: var(--action-green-bg);
  color: var(--action-green-text);
}

.btn-green:not(.btn--disabled):hover {
  background-color: var(--action-green-bg-hover);
}

.btn-green:not(.btn--disabled):active {
  background-color: var(--action-green-bg);
}

/*blanc*/
.btn-outlined {
  background-color: transparent;
  color: var(--action-contrast-text);
  border: 1.5px solid var(--color-black-06);
}

.btn-outlined:not(.btn--disabled):hover {
  background-color: var(--action-transparent-bg-hover);
}

.btn-outlined:not(.btn--disabled):active {
  background-color: var(--action-transparent-bg-active);
}

/* Bleu */
.btn-blue {
  background-color: var(--action-blue-bg);
  color: var(--action-blue-text);
}

.btn-blue:not(.btn--disabled):hover {
  background-color: var(--action-blue-bg-hover);
}

.btn-blue:not(.btn--disabled):active {
  background-color: var(--action-blue-bg-active);
}

/* Pink */
.btn-pink {
  background-color: var(--action-pink-bg);
  color: var(--action-pink-text);
}

.btn-pink:not(.btn--disabled):hover {
  background-color: var(--action-pink-bg-hover);
}

.btn-pink:not(.btn--disabled):active {
  background-color: var(--action-pink-bg-active);
}

/* Transparent */
.btn-transparent {
  background-color: var(--color-lighten-07);
  color: var(--action-transparent-text);
  background-color: var(--action-transparent-bg-default);
  backdrop-filter: blur(12px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
}

.btn-transparent:not(.btn--disabled):hover {
  background-color: var(--action-transparent-bg-hover);
  backdrop-filter: blur(12px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
}

.btn-transparent:not(.btn--disabled):active {
  background-color: var(--action-transparent-bg-active);
  backdrop-filter: blur(12px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
}

@media (max-width: 800px) {
  .emphasis {
    padding: 16px 32px;
  }
}