.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-24);
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
}

.text-container {
  display: inherit;
  flex-direction: inherit;
  gap: var(--spacing-24);
}

.cat-avatars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-avatars .cat-media {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--on-surface-blue-contrasted);
  margin-left: -20px;
  box-shadow: 0 0 0 4px var(--surface-blue-contrasted);
}