.adoption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--on-surface-default);
}

.adoption-container .heading .h2 {
  color: var(--on-surface-blue);
}

.cat-avatars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-avatars .cat-media {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--surface-pink);
  margin-left: -12px;
  background-color: var(--surface-black);
}

.adoption-container .actions-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--gap-subsection-related);
}

@media (max-width: 800px) {
  .cat-avatars .cat-media {
    width: 64px;
    height: 64px;
  }

  .adoption-container .actions-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-subsection-mobile);
    gap: var(--gap-subsection-unrelated-mobile);
    width: 100%;
  }
}
