.cat-modal {
  display: flex;
  text-align: left;
  color: var(--on-surface-default);
}

.cat-modal-image {
  flex: 1;
}

.cat-modal-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 16px;
}

.cat-modal-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.cat-modal-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--gap-subsection-unrelated);
}

.cat-modal-tags {
  display: flex;
  gap: var(--spacing-4);
  flex-wrap: wrap;
  height: fit-content;
}

.cat-modal-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.cat-modal-actions {
  display: flex;
  gap: var(--gap-subsection-related);
  margin-top: 24px;
}

.cat-modal-actions Button {
  width: 100%;
}

@media (max-width: 800px) {
  .cat-modal {
    flex-direction:column-reverse;
    height: fit-content;
    max-height: none;
  }

  .cat-modal-image {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .cat-modal-actions {
    flex-direction: column;
    gap: var(--gap-subsection-related-mobile);
  }

  .cat-modal-header {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }

  .cat-modal-text {
    gap: var(--gap-subsection-unrelated-mobile);
  }
}
