.hero {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* évite que l'image déborde */
  min-height: 640px;
}

.hero-logo {
  max-width: 100%;
  height: auto;
}

/* Image derrière le texte */
.hero-image {
  position: absolute;
  rotate: 10deg;
  left: 50%;
  transform: translate(-40%, 60%);
  height: 80%;
  width: auto;
  z-index: 2;
}

.hero-content {
  position: relative;
  padding-top: var(--spacing-64);
  padding-bottom: var(--spacing-40);
}

.hero-content p {
  margin-bottom: var(--spacing-8);
  color: var(--on-surface-blue-contrasted);
}