.hero {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* évite que l'image déborde */
  min-height: 560px;
}

.hero .logo {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* Image derrière le texte */
.hero .image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 65%);
  height: 65%;
  width: auto;
  z-index: 2;
}

.hero .content {
  position: relative;
}

.hero .content p {
  margin-bottom: var(--spacing-16);
  color: var(--on-surface-blue-contrasted);
}

@media (max-width: 800px) {
  .hero {
    min-height: 480px;
  }

  .hero .image {
    position: absolute;
    rotate: 10deg;
    left: 50%;
    transform: translate(-30%, 110%);
    height: 50%;
    width: auto;
    z-index: 2;
  }
}
