.adoption-hero {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* évite que l'image déborde */
  padding-top: 160px;
}
/* Image derrière le texte */
.adoption-hero .image {
  position: absolute;
  top: 0px;
  height: 160px;
  width: auto;
  z-index: 2;
}

.adoption-hero .content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-section-related);
}

.adoption-hero .content h1 {
  color: var(--on-surface-pink)
}

.adoption-hero .content p {
  color: var(--on-surface-default);
}