.adoption-hero {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* évite que l'image déborde */
  min-height: 400px;
}

/* Image derrière le texte */
.adoption-hero .image {
  position: absolute;
  rotate: 10deg;
  left: 50%;
  transform: translate(-40%, 75%);
  height: 90%;
  width: auto;
  z-index: 2;
}

.adoption-hero .content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-section-related);
}

.adoption-hero .content p {
  color: var(--on-surface-default);
}

@media (max-width: 800px) {
  .adoption-hero .image {
    position: absolute;
    rotate: 10deg;
    left: 50%;
    transform: translate(-40%, 90%);
    height: 100%;
    width: auto;
    z-index: 2;
  }
}
