.adoption-hero {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* évite que l'image déborde */
  min-height: 440px;
}

.adoption-hero .logo {
  max-width: 100%;
  height: auto;
}

/* Image derrière le texte */
.adoption-hero .image {
  position: absolute;
  rotate: 10deg;
  left: 50%;
  transform: translate(-40%, 85%);
  height: 90%;
  width: auto;
  z-index: 2;
}

.adoption-hero .content {
  position: relative;
  padding-top: var(--spacing-64);
  padding-bottom: var(--spacing-40);
}

.adoption-hero .content p {
  color: var(--on-surface-default);
}

@media (max-width: 800px) {
  .adoption-hero .image {
  position: absolute;
  rotate: 10deg;
  left: 50%;
  transform: translate(-40%, 90%);
  height: 100%;
  width: auto;
  z-index: 2;
}
}