/* Styles globaux de base :
   body, html, layout général, fond du site,
   règles communes à toutes les pages */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #f9f9f9;
  color: #333;
}

/* Variables de layout */
:root {
  --layout-max-width: 1280px;
  --layout-narrow-max-width: 1024px;
  --layout-half-max-width: 720px;

  --layout-padding-mobile: 16px;
  --layout-padding-tablet: 24px;
  --layout-padding-desktop: 40px;
}

/* 100% réel – aucun padding */
.layout-full {
  width: 100%;
}

/* 100% lisible – paddings + largeur fluide */
.layout-wide {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-inline: auto;
}

/* Zone de lecture resserrée */
.layout-narrow {
  width: 100%;
  max-width: var(--layout-narrow-max-width);
  margin-inline: auto;
}

/* Zone de lecture resserrée */
.layout-half {
  width: 100%;
  max-width: var(--layout-half-max-width);
  margin-inline: auto;
}

.text-container {
  display: inherit;
  flex-direction: inherit;
  gap: var(--spacing-12);
}

/* Paddings responsives */
@media (min-width: 800px) {
  :root {
    --layout-padding-current: var(--layout-padding-tablet);
  }

  /* 100% lisible – paddings + largeur fluide */
  .layout-wide {
    padding: var(--layout-padding-tablet);
  }

  /* Zone de lecture resserrée */
  .layout-narrow {
    padding: var(--layout-padding-tablet);
  }

  /* Zone de lecture resserrée */
  .layout-half {
    padding: var(--layout-padding-tablet);
  }
}

@media (min-width: 1200px) {
  :root {
    --layout-padding-current: var(--layout-padding-desktop);
  }
}

@media (max-width: 799px) {
  :root {
    --layout-padding-current: var(--layout-padding-mobile);
  }

  /* 100% lisible – paddings + largeur fluide */
  .layout-wide {
    max-width: 100%;
    padding: var(--layout-padding-mobile);
  }

  /* Zone de lecture resserrée */
  .layout-narrow {
    max-width: 100%;
    padding: var(--layout-padding-mobile);
  }

  /* Zone de lecture resserrée */
  .layout-half {
    max-width: 100%;
    padding: var(--layout-padding-mobile);
  }
}

.no-padding {
  padding: 0px !important;
}
