/* Couleurs globales du site
Note : les numéros font référence à la nuance dans Radix */

:root {
  /* Opacité */
  --color-darken-01: hsla(163, 83%, 7%, 0.01); 
  --color-darken-02: hsla(163, 83%, 7%, 0.03); 
  --color-darken-03: hsla(163, 83%, 7%, 0.05); 
  --color-darken-07: hsla(163, 83%, 7%, 0.7); 
  --color-darken-09: hsla(163, 83%, 7%, 0.9); 
  --color-lighten-01: hsla(0, 0%, 100%, 0.02); 
  --color-lighten-02: hsla(0, 0%, 100%, 0.05); 
  --color-lighten-03: hsla(0, 0%, 100%, 0.07); 
  --color-lighten-07: hsla(0, 0%, 100%, 0.7); 

  /* Noir */
  --color-black-09: #032018; /* main color */
  --color-black-10: #1b372f; /* hover */
  --color-black-11: #07251d; /* active, text disabled */
  --color-black-06: #a0a7a7; /* disabled, subdued */
  --color-black-03: #e1eae7; /* disabled, subdued */
  --color-black-02: #ecf3f0; /* background */

  /* Blanc */
  --color-white-09: #faf8f6; /* main color */
  --color-white-10: #eae8e6; /* hover */
  --color-white-11: #d9d7d5; /* active */
  --color-white-03: #f5f4f3; /* disabled, subdued */
  --color-white-02: #faf8f6; /* background */

  /* Jaune : la marque */
  --color-yellow-09: #ffb500; /* main color */
  --color-yellow-10: #f5ab00; /* hover */
  --color-yellow-11: #d59b1f; /* active */
  --color-yellow-03: #ffe8b8; /* disabled, subdued */
  --color-yellow-02: #fcf1e1; /* background */

  /* Vert : soins à l'animal */
  --color-green-09: #44ad60; /* main color */
  --color-green-10: #36a154; /* hover */
  --color-green-11: #127635; /* active */
  --color-green-03: #e0efe2; /* disabled, subdued */
  --color-green-02: #edf3ee; /* background */

  /* Bleu : adoption & FA */
  --color-blue-09: #555dfb; /* main color */
  --color-blue-10: #4b53e0; /* hover */
  --color-blue-11: #4144d0; /* active */
  --color-blue-03: #e5e9f8; /* disabled, subdued */
  --color-blue-02: #eff1f9; /* background */

  /* Rose : dons & bénévolat */
  --color-pink-09: #ec427a; /* main color */
  --color-pink-10: #dd336e; /* hover */
  --color-pink-11: #bf0958; /* active */
  --color-pink-03: #fce7f3; /* disabled, subdued */
  --color-pink-02: #fff0f7; /* background */

  /* === SURFACES === */

  /* Surface principale (pages) */
  --surface-default: var(--color-white-09);
  --on-surface-default: var(--color-black-09);
  --surface-default-contrasted: var(--color-black-09);
  --on-surface-default-contrasted: var(--color-white-09);

  /* === SURFACES THÉMATIQUES === */

  /* Vert */
  --surface-green: var(--color-green-02);
  --surface-green-subtle: var(--color-green-03);
  --on-surface-green: var(--color-green-09);
  --surface-green-contrasted: var(--color-green-09);
  --on-surface-green-contrasted: var(--color-white-09);

  /* Rose */
  --surface-pink: var(--color-pink-02);
  --surface-pink-subtle: var(--color-pink-03);
  --on-surface-pink: var(--color-pink-09);
  --surface-pink-contrasted: var(--color-pink-09);
  --on-surface-pink-contrasted: var(--color-white-09);

  /* Bleu */
  --surface-blue: var(--color-blue-02);
  --surface-blue-subtle: var(--color-blue-03);
  --on-surface-blue: var(--color-blue-09);
  --surface-blue-contrasted: var(--color-blue-09);
  --on-surface-blue-contrasted: var(--color-white-09);

  /* Jaune */
  --surface-yellow: var(--color-yellow-02);
  --surface-yellow-subtle: var(--color-yellow-03);
  --on-surface-yellow: var(--color-yellow-09);
  --surface-yellow-contrasted: var(--color-yellow-09);
  --on-surface-yellow-contrasted: var(--color-white-09);

  /* === INTERACTIONS GÉNÉRIQUES === */

  --action-bg: var(--color-black-09);
  --action-bg-hover: var(--color-black-10);
  --action-bg-active: var(--color-black-11);
  --action-text: var(--color-white-09);
  --action-bg-disabled: var(--color-black-03);
  --action-text-disabled: var(--color-black-06);
  --action-border: var(--color-black-09);

  --action-contrast-bg: var(--color-white-09);
  --action-contrast-bg-hover: var(--color-white-10);
  --action-contrast-bg-active: var(--color-white-11);
  --action-contrast-text: var(--color-black-09);
  --action-contrast-disabled-bg: var(--color-white-03);
  --action-contrast-disabled-text: var(--color-white-11);
  --action-contrast-border: var(--color-white-09);

  /* === ACTIONS VERT === */
  --action-green-bg: var(--color-green-09);
  --action-green-bg-hover: var(--color-green-10);
  --action-green-bg-active: var(--color-green-11);
  --action-green-bg-disabled: var(--color-green-03);
  --action-green-text: var(--color-white-09);

  /* === ACTIONS ROSE === */
  --action-pink-bg: var(--color-pink-09);
  --action-pink-bg-hover: var(--color-pink-10);
  --action-pink-bg-active: var(--color-pink-11);
  --action-pink-bg-disabled: var(--color-pink-03);
  --action-pink-text: var(--color-white-09);

  /* === ACTIONS BLEU === */
  --action-blue-bg: var(--color-blue-09);
  --action-blue-bg-hover: var(--color-blue-10);
  --action-blue-bg-active: var(--color-blue-11);
  --action-blue-bg-disabled: var(--color-blue-03);
  --action-blue-text: var(--color-white-09);

  /* === ACTIONS TRANSPARENTES === */
  --action-transparent-text: var(--color-black-09);
  --action-transparent-bg-default: var(--color-darken-01);
  --action-transparent-bg-hover: var(--color-darken-02);
  --action-transparent-bg-active: var(--color-darken-03);
}

.bg-white {
  background-color: var(--surface-default);
  color: var(--on-surface-default);
}

.bg-black {
  background-color: var(--surface-default-contrasted);
  color: var(--on-surface-default-contrasted);
}

.bg-green {
  background-color: var(--surface-green);
  color: var(--on-surface-green);
}

.bg-pink {
  background-color: var(--surface-pink);
  color: var(--on-surface-pink);
}

.bg-blue {
  background-color: var(--surface-blue);
  color: var(--on-surface-blue);
}

.bg-yellow {
  background-color: var(--surface-yellow);
  color: var(--on-surface-yellow);
}

.bg-green-contrasted {
  background-color: var(--surface-green-contrasted);
  color: var(--on-surface-green-contrasted);
}

.bg-pink-contrasted {   
  background-color: var(--surface-pink-contrasted);
  color: var(--on-surface-pink-contrasted);
}

.bg-blue-contrasted {
  background-color: var(--surface-blue-contrasted);
  color: var(--on-surface-blue-contrasted);
}

.bg-yellow-contrasted {
  background-color: var(--surface-yellow-contrasted);
  color: var(--on-surface-yellow-contrasted);
}