/* Point d’entrée des styles :
   importe tous les fichiers CSS globaux du dossier styles */

@import './reset.css';
@import './colors.css';
@import './typography.css';
@import './spacing.css';
@import './breakpoints.css';
@import './base.css';
@import './waves.css';