/* ======================================
   Spacing
   Échelle d’espacements du projet
   Utilisée pour margin, padding et gap
   ====================================== */

:root {
  /* --- Micro spacings (cas spécifiques) --- */
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-6: 6px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;

  /* paddings verticaux sections */
  --padding-main: 80px;
  --padding-section: 56px;
  --padding-subsection: 24px;

  --padding-main-mobile: 40px;
  --padding-section-mobile: 24px;
  --padding-subsection-mobile: 12px;

  /* gaps */
  --gap-section-unrelated: 56px;
  --gap-section-related: 32px;
  --gap-subsection-unrelated: 24px;
  --gap-subsection-related: 12px;

  --gap-section-unrelated-mobile: 24px;
  --gap-section-related-mobile: 20px;
  --gap-subsection-unrelated-mobile: 16px;
  --gap-subsection-related-mobile: 8px;
}
