.wavy-bottom {
  position: relative;
}

.wavy-bottom::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 12px; /* hauteur de la vague */
}

.wavy-bottom.bg-black::after {
    background: url('/src/assets/bottom-wave-black.svg') repeat-x; 
}

.wavy-bottom.bg-white::after {
    background: url('/src/assets/bottom-wave-white.svg') repeat-x; 
}

.wavy-bottom.bg-blue-contrasted::after {
    background: url('/src/assets/bottom-wave-blue.svg') repeat-x;
}

.wavy-bottom.bg-green-contrasted::after {
    background: url('/src/assets/bottom-wave-green.svg') repeat-x; 
}

.wavy-bottom.bg-pink-contrasted::after {
    background: url('/src/assets/bottom-wave-pink.svg') repeat-x; 
}

.wavy-bottom.bg-yellow-contrasted::after {
    background: url('/src/assets/bottom-wave-yellow.svg') repeat-x; 
}

.wavy-bottom.bg-blue-subdued::before {
    background: url('/src/assets/bottom-wave-blue-subdued.svg') repeat-x;
}

.wavy-bottom.bg-green-subdued::before {
    background: url('/src/assets/bottom-wave-green-subdued.svg') repeat-x; 
}

.wavy-bottom.bg-pink-subdued::before {
    background: url('/src/assets/bottom-wave-pink-subdued.svg') repeat-x; 
}

.wavy-bottom.bg-yellow-subdued::before {
    background: url('/src/assets/bottom-wave-yellow-subdued.svg') repeat-x; 
}

.wavy-top {
  position: relative;
}

.wavy-top::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -9px;
  left: 0;
  width: 100%;
  height: 12px; /* hauteur de la vague */
}

.wavy-top.bg-black::before {
    background: url('/src/assets/top-wave-black.svg') repeat-x; 
}

.wavy-top.bg-white::before {
    background: url('/src/assets/top-wave-white.svg') repeat-x; 
}

.wavy-top.bg-blue-contrasted::before {
    background: url('/src/assets/top-wave-blue.svg') repeat-x;
}

.wavy-top.bg-green-contrasted::before {
    background: url('/src/assets/top-wave-green.svg') repeat-x; 
}

.wavy-top.bg-pink-contrasted::before {
    background: url('/src/assets/top-wave-pink.svg') repeat-x; 
}

.wavy-top.bg-yellow-contrasted::before {
    background: url('/src/assets/top-wave-yellow.svg') repeat-x; 
}

.wavy-top.bg-blue::before {
    background: url('/src/assets/top-wave-blue-subdued.svg') repeat-x;
}

.wavy-top.bg-green::before {
    background: url('/src/assets/top-wave-green-subdued.svg') repeat-x; 
}

.wavy-top.bg-pink::before {
    background: url('/src/assets/top-wave-pink-subdued.svg') repeat-x; 
}

.wavy-top.bg-yellow::before {
    background: url('/src/assets/top-wave-yellow-subdued.svg') repeat-x; 
}