.wavy-top {
  position: relative;
}

.wavy-top::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -9px;
  left: 0;
  width: 100%;
  height: 12px; /* hauteur de la vague */
}

.wavy-top-white-blue::before {
    background: url('/src/assets/waves/top-wave-white-blue.svg') repeat-x; 
}