.wavy-top {
  position: relative;
}

.wavy::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -9px;
  left: 0;
  width: 100%;
  height: 12px; /* hauteur de la vague */
}

.wavy-pink-blue::before {
    background: url('vectors/waves/wave-pink-blue.svg') repeat-x; 
}

.wavy-yellow-pink::before {
    background: url('public/vectors/waves/wave-yellow-pink.svg') repeat-x; 
}