/* Container global */
main,
section {
  position: relative;
  gap: var(--gap-section-unrelated);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.section {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-subsection-related);
}

@media (max-width: 800px) {
  main,
section {
  gap: var(--gap-section-unrelated-mobile);
  padding-bottom: var(--padding-section-mobile);
}

.section {
  padding-top: var(--padding-section-mobile);
  padding-bottom: var(--padding-section-mobile);
}

.heading {
  gap: var(--gap-subsection-related-mobile);
}
}