/* Container global */
main,
section {
  gap: var(--spacing-40);
  padding-top: 80px;
  padding-bottom: 80px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  gap: 56px;
}

.heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: flex-start;
  text-align: center;
  gap: 12px;
}

.heading-action {
  display: flex;
  justify-content: flex-end;
}

.text-cards-container h1 {
  color: var(--on-surface-blue);
}

.text-cards-container p {
  color: var(--on-surface-default);
}

.text-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-40);
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
  margin-bottom: -12px;
}

.text-cards-section {
  column-count: 3;
  column-gap: var(--spacing-32);
}

@media (max-width: 1200px) {
  .text-cards-section {
    column-count: 2;
    column-gap: var(--spacing-32);
  }
}

@media (max-width: 800px) {
  .text-cards-section {
    column-count: 1;
    column-gap: var(--spacing-24);
  }
}

@media (max-width: 800px) {
  .text-cards-section {
    column-count: 1;
  }
}

.cat-avatars-container {
  position: relative;
  margin-top: -12px;
}
