/* Container global */
main,
section {
  padding: 2rem;
}

.text-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-40);
  padding-top: var(--spacing-40);
  padding-bottom: var(--spacing-40);
  margin-bottom: -12px;
}

.text-cards-container h1 {
  text-align: center;
}

.text-cards-section {
  column-count: 3;
  column-gap: var(--spacing-32);
}

@media (max-width: 640px) {
  .text-cards-section {
    column-count: 1;
  }
}

.cat-avatars-container {
  position: relative;
  margin-top: -12px;
}

