/* Container global */
main,
section {
  padding: 2rem;
}

.text-cards-container {
  background-color: var(--surface-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-40);
  padding-top: var(--spacing-80);
}

.text-cards-container h1 {
  text-align: center;
}

.text-cards-section {
  column-count: 3;
  column-gap: var(--spacing-32);
}

@media (max-width: 640px) {
  .text-cards-section {
    column-count: 1;
  }
}

.cat-avatars-container {
  padding-top:40px;
  background-color: var(--surface-blue-contrasted);
  color: var(--on-surface-blue-contrasted);
}
