.bottom-nav {
  display: none;
}

.header-desktop {
  display: block;
}

header {
  background: var(--surface-blue-contrasted);
  position: fixed !important;
  top: 0;
  z-index: 1000;
  padding: var(--padding-subsection) 0;
}

.header-content {
  display: flex;
  justify-content: center; /* centre le menu horizontalement */
  align-items: center;
}

/* Navigation */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--gap-section-related); /* espace entre les liens */
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  color: var(--on-surface-blue-contrasted);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 4px 12px;
  align-items: center;
  gap: 0.2em;
  transition:
    background 0.15s ease,
    color 0.15s ease,
    border-color 0.15s ease;
}

.nav-link:hover {
  background-color: var(--action-blue-bg-hover);
}

.nav-link:active {
  background-color: var(--action-blue-bg-active);
}

@media (max-width: 800px) {
  header {
    padding: var(--padding-section-mobile) 0;
  }

  header nav ul {
    gap: var(--gap-subsection-unrelated-mobile);
  }

  .header-desktop {
    display: none;
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding-subsection-mobile) 0;
    z-index: 1000;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.15s ease;
    font-size: 0.8em;
  }

  .nav-link:active {
    background-color: transparent;
  }
}

