header {
  background: var(--surface-blue-contrasted);
  position: fixed !important;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
}

.header-content {
  display: flex;
  justify-content: left; /* centre le menu horizontalement */
  align-items: center;
}

/* Navigation */
header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; /* espace entre les liens */
  padding: 0;
  margin: 0;
}

header nav li a {
  color: var(--on-surface-blue-contrasted);
  text-decoration: none;
  font-size: 1rem;
}