header {
  background: var(--surface-blue-contrasted);
  position: fixed !important;
  top: 0;
  z-index: 1000;
  padding: var(--padding-subsection) 0;
}

.header-content {
  display: flex;
  justify-content: center; /* centre le menu horizontalement */
  align-items: center;
}

/* Navigation */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--gap-section-unrelated); /* espace entre les liens */
  padding: 0;
  margin: 0;
}

header nav li a {
  color: var(--on-surface-blue-contrasted);
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 800px) {
  header {
    padding: var(--padding-section-mobile) 0;
  }

  header nav ul {
  gap: var(--gap-subsection-unrelated-mobile);
  }
}