.adoption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
  text-align: center;
}
  
.adoption-container .text-container {
  margin-bottom: var(--spacing-56);
}

.cats-grid {
  display: grid;
  gap: var(--spacing-40);
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

@media (max-width: 1280px) {
  .cats-grid {
  display: grid;
  gap: var(--spacing-40);
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}
}

@media (max-width: 800px) {
  .cats-grid {
  display: grid;
  gap: var(--spacing-40);
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
}
}