.adoption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
  text-align: center;
}

.adoption-container .text-container {
  margin-bottom: var(--spacing-56);
}

.cats-grid {
  display: flex;
  padding: var(--padding-section);
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  width: fit-content;
}

@media (max-width: 1200px) {
  .cats-grid {
    width: 100%;
  }
}
