.adoption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 0;
}

.cats-grid {
  padding-left: var(--padding-section);
  padding-right: var(--padding-section);
  display: grid;
  gap: var(--gap-subsection-unrelated);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: start;
}

@media (min-width: 400px) {
  .cats-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gap-subsection-unrelated-mobile);
  }
}

@media (min-width: 1200px) {
  .cats-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  .cats-grid {
    padding-left: var(--padding-section-mobile);
    padding-right: var(--padding-section-mobile);
    gap: var(--gap-subsection-unrelated-mobile);
  }
}
