.adoption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
  text-align: center;
}
  
.adoption-container .text-container {
  margin-bottom: var(--spacing-56);
}

.cats-grid {
  display: grid;
  gap: var(--spacing-24);
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}