footer {
  padding: 8px;
}

.footer-container {
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  padding: var(--padding-section);
  gap: var(--gap-section-unrelated);
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.footer-container .col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-subsection-related);
  width: 100%;
}

.footer-container .col a {
  text-decoration: none;
  color: var(--on-surface-contrasted);
}

.footer-container .col img {
  width: 80%;
  height: auto;
}

@media (max-width: 800px) {
  .footer-container {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.footer-container .col img {
  width: 100%;
  height: auto;
}
}