/* CatCard */
.cat-card {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.cat-card .cat-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 0.5rem;
  border-radius: 16px;
  overflow: hidden;
}
/* Image carrée du chat */
.cat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.cat-tags {
  position: absolute;
  top: var(--spacing-12);
  left: var(--spacing-12);
  display: flex;
  gap: var(--spacing-4);
  flex-wrap: wrap;
  z-index: 2;
}

.cat-tags .tag {
  position: relative;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}

/* Nom + âge du chat */
.cat-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

/* Description */
.cat-card p {
  font-size: 0.9rem;
}

.cat-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.cat-age {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.cat-overlay {
  position: absolute;
  inset: 0;
  background: var(--color-darken-02);
  opacity: 0;
  display: flex;
  align-items: flex-end;
  padding: 16px;
  transition: opacity 0.3s ease;
  z-index: 1;
  color: var(--on-surface-default-contrasted);
}

.cat-card.show-info .cat-image {
  filter: blur(6px);
}

.cat-card.show-info .cat-overlay {
  opacity: 1;
  background-color: var(--color-darken-07);
}

.cat-description {
  height: 80%;
  overflow: scroll;
  text-align: left;
}

.cat-content .cat-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 4px;
}

.cat-content .cat-info .cat-modal-tags {
  display: inline-flex;
  flex-direction: row;
  align-items: start;
  gap: 4px;
}

.cat-title {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 4px;
}

.cat-title Button {
  font-weight: 500;
  width: fit-content;
}
