.faq {
  padding-top: var(--padding-main);
  padding-bottom: var(--padding-main);
}

.faq-container {
  display: flex;
  gap: var(--gap-section-unrelated);
}

.faq-container .header {
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-section-related);
  padding-top: var(--padding-main);
  padding-bottom: var(--padding-main);
}

.faq-container .header h1 {
  color: var(--on-surface-blue);
}

.faq-container .header p {
  color: var(--on-surface-default);
}

.faq-container .list {
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-subsection-related);
}

.faq-item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  color: var(--action-transparent-text);
  transition: background 0.1s, color 0.1s;
  padding: var(--padding-subsection);
}

.faq-item .icon-container {
  display: flex;
  padding: 8px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.faq-item .h3-bold {
  margin: 0px;
}

.faq-item:hover {
  background-color: var(--action-contrast-bg-hover);
  cursor: pointer;
}

.faq-item:active {
  background-color: var(--action-contrast-bg-active);
  cursor: pointer;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style: none; /* supprime la flèche native */
}

.faq-question::-webkit-details-marker {
  display: none; /* Safari / Chrome */
}

.faq-chevron {
  font-size: 16px;
  transition: transform 0.25s ease-out;
}

.faq-item[open] .faq-chevron {
  transform: rotate(180deg);
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-subsection-related);
  margin-top: var(--gap-subsection-unrelated);
}

@media (max-width: 800px) {
  .faq-container {
    flex-direction: column;
  }

  .faq-container .header {
    gap: var(--gap-section-related-mobile);
    padding-top: var(--padding-main-mobile);
    padding-bottom: var(--padding-main-mobile);
  }

  .faq-container .list {
    gap: var(--gap-subsection-related-mobile);
  }

  .faq-item {
    padding: var(--padding-subsection-mobile);
  }

  .faq-content {
    gap: var(--gap-subsection-related-mobile);
    margin-top: var(--gap-subsection-unrelated-mobile);
  }
}
