.faq-container {
  padding-top: var(--spacing-80);
  padding-bottom: var(--spacing-80);
}

.faq-container h1 {
  text-align: center;
}

.faq-item {
  margin-bottom: var(--spacing-16);
  background-color: var(--color-darken-01);
  border-radius: 16px;
  color: var(--action-transparent-text);
  transition: background 0.1s, color 0.1s;
}

.faq-item .h3-bold {
  margin: 0px;
}

.faq-item:hover {
  background-color: var(--action-transparent-bg-hover);
  cursor: pointer;
}

.faq-item:active {
  background-color: var(--action-transparent-bg-active);
  cursor: pointer;
}

.faq-question {
  padding-top: var(--spacing-24);
  padding-bottom: var(--spacing-24);
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style: none; /* supprime la flèche native */
}

.faq-question::-webkit-details-marker {
  display: none; /* Safari / Chrome */
}

.faq-answer {
  padding-bottom: var(--spacing-32);
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
}

.faq-chevron {
  font-size: 16px;
  transition: transform 0.25s ease-out;
}

.faq-item[open] .faq-chevron {
  transform: rotate(180deg);
}
