.sponsors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--spacing-40);
  margin-bottom: var(--spacing-40);
}

.sponsors-container .text-container {
  text-align: center;
  margin-bottom: var(--spacing-80);
}

.sponsors-container p {
  color: var(--on-surface-default);
}

.sponsors-grid {
  display: grid;
  gap: var(--spacing-24);
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.sponsor-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-cell img {
  width: 100%; /* prend toute la largeur de la case */
  height: auto; /* conserve le ratio */
  display: block;
  mix-blend-mode: multiply;
}

/* Mobile : 2 lignes, 4 colonnes */
@media (max-width: 800px) {
  .sponsors-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}
