.sponsors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sponsors-container .text-container {
  text-align: center;
}

.sponsors-container h1 {
  color: var(--on-surface-blue);
}

.sponsors-container p {
  color: var(--on-surface-default);
}

.sponsors-grid {
  display: grid;
  gap: var(--gap-section-unrelated);
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.sponsor-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-cell img {
  width: 100%; /* prend toute la largeur de la case */
  height: auto; /* conserve le ratio */
  display: block;
  mix-blend-mode: multiply;
}

@media (max-width: 800px) {
  .sponsors-grid {
    gap: var(--gap-section-unrelated-mobile);
  }
}
